.nf-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6vw;
    width: 64vw;
    margin: 0 0 18vw 18vw;
    justify-self: center;
    padding-top: 20vh;
}

.nf-grid-col1 {
display: grid;
grid-template-rows: auto 1fr auto;
justify-items: left;

}

.nf-grid-col1 .gray {
    color: gray;
}

.nf-grid-col1 .logo-text {
    font-size: 1.5rem;
    cursor: pointer;
}

.nf-grid-col2 {
    justify-items: right;
}

.nf-grid-col2 img{
    max-width: 390px;
    min-height: 180px;
}
